body{
	/*background-image: url(img/pokemon_icon.png)*/
}
nav ul{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: red;
	justify-content: space-between;
}

ul li{
	margin: 0 1em 0 1em;
}
ol{
	padding: 0;
	margin: 1em;
	list-style-type: none;
}
ol li{
	margin: .5em;
}
#pokeList li{
	margin: 1em;
	width: 100px;
	border-style: outset;
	background-color: rgba(0, 0, 0, .8);
}
#pokeList li:hover{
	border-style: inset;
	background-color: rgba(0, 0, 0, .5);	
}
#pokeList{
	margin: 84.9px 0 0 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}
#searchInput{
	position: fixed;
	top: 67.3px;
	right: 0;
	display: none;
	color: white;
	background-color: rgba(0, 0, 0, .8);
}
#menu{
	display: none;
	height: 100%;
	position: fixed;
	left: 0;
	top: 67.3px;
	z-index: 100;
	background-color: rgba(0, 0, 0, .8);
	color: white;
}
#progressbar{
	margin-top: 84.9px;
}
#pop-up {
  display: none;
  position: fixed;
  z-index: 2000;
  padding: 0;
  left: 25%;
  top: 12.5%;
  width: 50%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.9); 
}
#info-box{
	color: white;
	margin: auto;
}
